= javascript_include_tag "refresh"
= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button mobile'

%h3= @oven.name

.cookie-info#cookie-info
  = render :partial => 'ovens/cookie', data: @oven

%br

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button web'
